<header class="header">
    <h1>Wasted Food Management System</h1>
  </header>
  
  <div class="main">
    <div class="alert-box-container">
      <!-- alert-box -->
      <!-- <div class="alert" *ngIf="serverErrorMessages!='false'">
        {{serverErrorMessages}}
      </div> -->
      <!-- form -->
      </div>
        <form [formGroup]="foodPackage" class="form-inline">
          <div class="input">
            <br>
            <label for="accountType">Select Food</label>
            <select formControlName="foodName" id="accountType" class="form-control all1" aria-describedby="userHelp" placeholder="Account Type">
              <option *ngFor="let food of foodItems;">{{food.name}}</option>
            </select>
           <small id="userHelp" class="form-text text-muted"></small>
           <br />
   
            <label for="userName">Amount</label>
            <input formControlName="amount" type="text" class="form-control all1" id="userName" aria-describedby="userHelp" placeholder="Enter Restaurant/NGO email">
            <small id="userHelp" class="form-text text-muted"></small>
            <br />
            <label for="userName">Password</label>
            <input formControlName="password" type="password" class="form-control all1" id="password" aria-describedby="passHelp" placeholder="Enter password">
            <small id="passHelp" class="form-text text-muted"></small>
            <br />
          </div>   
          <input click type="submit" value="Add Package"  class="submit" />
       </form>
  </div>
     
   
   
   
