header h1 {
    text-align: center;
    background-color: white;
    font-size: 40px;
    font-weight: bolder;
    /* background-image: linear-gradient(to left, #8e02f2, #c50bf4); */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
header{
    padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
}