<header class="header">
    <h1>Wasted Food Management System</h1>
</header>
  
  <div class="main">
    <div class="alert-box-container">
      <!-- alert-box -->
      <div class="alert" *ngIf="serverErrorMessages!='false'">
        {{serverErrorMessages}}
      </div>
      <!-- form -->
    </div>
        <form [formGroup]="recoveryData" class="form-inline">
          <div class="input">
            <br>
            <br>
          <label for="accountType">Account Type</label>
          <select formControlName="userType" id="accountType" class="form-control all1" aria-describedby="userHelp" placeholder="Account Type">
            <!-- <option value="Admin">Admin</option> -->
            <option value="NGO Representative">NGO Representative</option>
            <option value="Restaurant Representative">Restaurant Representative</option>
          </select>
            <br>
            <br>
            <!-- <label for="userName">Email</label> -->
            <input formControlName="email" type="text" class="form-control all1" id="userName" aria-describedby="userHelp" placeholder="Enter Restaurant/NGO email">
            <small id="userHelp" class="form-text text-muted"></small>
            <br />
          </div>   
          <!-- <button style="padding-left: 2px;" click type="submit" (click)="sendRecoveryEmail()" class="submit">Send Recovery Email</button> -->
          <input style="padding-left: 2px;" click type="submit" value="Send Recovery Email" (click)="sendRecoveryEmail()" class="submit"/>
       </form>
  </div>
     
   
   
   
