<header class="header">
    <h1>Wasted Food Management System</h1>
  </header>
  
  <div class="main">
        <form [formGroup]="foodRequest" class="form-inline">
          <div class="input">
            <br>
            <label for="accountType">Food Items</label>
            <select formControlName="foodType" id="accountType" class="form-control all1" aria-describedby="userHelp" placeholder="Account Type">
              <option value="NGO Representative">Item1</option>
              <option value="Restaurant Representative">Item2</option>
            </select>
           <small id="userHelp" class="form-text text-muted"></small>
           <br/>
            <label for="userName">amount</label>
            <input formControlName="amount" type="text" class="form-control all1" id="userName" aria-describedby="userHelp" placeholder="Enter Restaurant/NGO email">
            <small id="userHelp" class="form-text text-muted"></small>
          </div>   
          <input click type="submit"  value="Add Food"  class="submit" />
       </form>
  </div>
     
   
   
   