<div class="navbar">
    <div class="nav-left">
        <a (click)="addFoodPackageButton()">Upload Food Package</a>
        <a (click)="showNotificaitons()">Notifications</a>
    </div>
    <div class="nav-middle">
        <h1 class="welcome-message">{{currentRestaurant.name}}  Restaurant Dashboard</h1>
    </div>
    <div class="nav-right">
        <a (click)="pendingRequestList()">Available Food Requests</a>
        <a href="" routerLink="/login" (click)="logout()">Log Out</a>
    </div>  
</div>

<div *ngIf="currentContent=='activities'">
  <div class="caption1">
      <h2>Current Activities</h2>
  </div>
  <table class="table table-bordered border-primary table-info">
    <thead class="table-dark">
          <tr>
            <th scope="col">Package ID</th>
            <th scope="col">Time</th>
            <th scope="col">Item Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Remaining time</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let request of requests; let i=index">
            <td>{{request.date}}</td>
            <td>{{request.foodType}}</td>
            <td>{{request.amount}}</td>
            <td>{{request.timeLimit}}</td>
            <td><button (click)="updateRequest(request,i)">Update</button></td>
            <td><button (click)="deleteRequest(request)">Delete</button></td>
          </tr> -->
        </tbody>
      </table>
    
    
    <div class="caption2">
        <h2>Last month Activities</h2>
    </div>
    
    <table class="table table-bordered border-primary table-info">
      <thead class="table-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Food Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Ngo Name</th>
            <th scope="col">Status</th>
            <th scope="col">Delivery Date</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let request of requests; let i=index">
            <td>{{request.date}}</td>
            <td>{{request.foodType}}</td>
            <td>{{request.amount}}</td>
            <td>{{request.timeLimit}}</td>
            <td><button (click)="updateRequest(request,i)">Update</button></td>
            <td><button (click)="deleteRequest(request)">Delete</button></td>
          </tr> -->
        </tbody>
      </table>    
</div>

<!-- PendingRequests -->
<div *ngIf="currentContent=='pendingRequests'">
  <table class="table table-bordered border-primary table-info">
    <thead class="table-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Food Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Ngo Name</th>
            <th scope="col">Status</th>
            <th scope="col">Delivery Date</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let request of requests; let i=index">
            <td>{{request.date}}</td>
            <td>{{request.foodType}}</td>
            <td>{{request.amount}}</td>
            <td>{{request.timeLimit}}</td>
            <td><button (click)="updateRequest(request,i)">Update</button></td>
            <td><button (click)="deleteRequest(request)">Delete</button></td>
          </tr> -->
        </tbody>
      </table>    
</div>


<div *ngIf="currentContent=='addFoodPackageForm'">
  <div class="main">
    <div class="alert-box-container">
      <!-- alert-box -->
      <div class="alert" *ngIf="serverErrorMessages!='false'">
        {{serverErrorMessages}}
        </div>
    </div>
    <form [formGroup]="foodPackage" class="form-inline">
      <div class="input">
        <br>
        <label for="accountType">Select Food</label>
        <select formControlName="foodName" id="accountType" class="form-control all1" aria-describedby="userHelp" placeholder="Select Food">
          <option>Select food</option>
          <option *ngFor="let food of foodItems;">{{food.name}}</option>
        </select>
       <small id="userHelp" class="form-text text-muted"></small>
       <br />
        <label for="userName">Quantity</label>
        <input formControlName="quantity" type="number" class="form-control all1" id="userName" aria-describedby="userHelp" placeholder="Enter needed amount">
        <small id="userHelp" class="form-text text-muted"></small>
        <br />
        <label for="userName">Expiry Date</label>
        <input formControlName="expiryDate" type="date" class="form-control all1" id="password" aria-describedby="passHelp" placeholder="Expiry Date">
        <small id="passHelp" class="form-text text-muted"></small>
        <br/>
      </div>   
      <input click type="submit" value="Add Package" (click)="addFoodPackage()" class="submit"/>
   </form>
</div>
</div>

<!-- show success message -->
<div class="success-box" *ngIf="currentContent=='successMessage'">
  <div id='card' class="animated fadeIn">
    <div id='upper-side'>  
      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve"> 
        <path d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65 c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382 c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209 c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091 c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027 c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865 C131.967,94.755,132.296,93.271,131.583,92.152z" /> 
        <circle fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" cx="109.486" cy="104.353" r="32.53" /> 
      </svg> 
      <h3 id='status'> Success </h3> 
    </div> 
    <div id='lower-side'> 
      <p id='message'> Your Food package Successfully Uploaded</p> 
      <a (click)="continue()" id="contBtn">Continue</a> 
    </div> 
  </div>
</div>


<!-- notificaitons -->
<div *ngIf="currentContent=='notifications'">
  <div class="caption1">
    <h2>All Notifications</h2>
</div>

<table class="table table-bordered border-primary table-info">
    <thead class="table-dark">
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Details</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications; let i=index">
        <td>{{i+1}}</td>
        <td>{{notification.message}}</td>
        <td *ngIf="notification.status=='running'">
            <button class="remove-btn" (click)="confirm(notification)">Confirm Delivery</button>
            <button class="remove-btn" (click)="cancel(notification)">Cancel</button>
        </td>
        <td *ngIf="notification.status=='done'">
          Completed
          <!-- <button class="remove-btn" (click)="confirm(notification)">Mark as Done</button> -->
      </td>
      </tr>
    </tbody>
  </table>
</div>
