<div class="main">
   <!-- <div class="alert-box-container">
    <div class="success" *ngIf="showSucessMessage">
      Congratulations!!! Your Account Created Successfully. You can Login Now.
    </div>

<div class="alert" *ngIf="serverErrorMessages!='false'">
      {{serverErrorMessages}}
    </div>
  </div> -->

    <form class="form-inline">
      <div class="input">
        <br>
        <label for="accountType">Account Type</label>
        <select formControlName="selectType" id="accountType" class="form-control all1" aria-describedby="userHelp" placeholder="Account Type">
          <option value="Admin">Admin</option>
          <option value="NGO Representative">NGO Representative</option>
          <option value="Restaurant Representative">Restaurant Representative</option>
        </select>
        <small id="userHelp" class="form-text text-muted"></small>
        <br />

        <label for="userName">Email</label>
        <input formControlName="userName" type="text" class="form-control all1" id="userName" aria-describedby="userHelp" placeholder="Enter NGO email">
        <small id="userHelp" class="form-text text-muted"></small>
        <br />
        <label for="userName">Password</label>
        <input formControlName="password" type="password" class="form-control all1" id="password" aria-describedby="passHelp" placeholder="Enter password">
        <small id="passHelp" class="form-text text-muted"></small>
        <br />
      </div>   
      
      <br />
      <input routerLink="hompage" click type="submit" (click)="login()" value="Login"  class="submit" />
      <p style="padding-left:15%">Don't have an Account? <a href="#" routerlink="home">Register now</a></p>
    </form>
  </div>
  







<!-- <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4"
          >
            <h2 class="mb-3 text-center">
              Login
            </h2>
            <form class="mb-3 form-inline">

                <label>Account Type:</label>
                <div class="row no-gutters">
                  <div class="form-group">
                    <label for="accountType" class="sr-only">Account Type</label>
                    <select class="form-control all1" id="accountType">
                      <option value="">Admin</option>
                      <option value="1">NGO Representative</option>
                      <option value="2">Restaurant Representative</option>
                    </select>
                  </div>
                </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  class="form-control all1"
                  id="email"
                  required
                />
              </div>

                         
              <div class="form-group ">
                <label for="password">Password:</label>
                <input
                  type="password"
                  class="form-control all1"
                  id="password"
                  required
                />
              </div>

         
              <button type="submit" class="btn btn-primary btn-block mb-3">
                Login
              </button>
              <p><a routerLink="">Forget Password?</a></p>
              <div class="text-center">
                <p><b>Or</b></p>
                <a href="#" class="btn btn-success">Register</a>
              </div>
        </form>
          </div>
        </div>
      </div>
    </div>
  -->
  