<header class="header">
  <h1>Wasted Food Management System</h1>
</header>

<div class="main">
    <div class="alert-box-container">
      <!-- alert-box -->
      <div class="alert" *ngIf="serverErrorMessages!='false'">
        {{serverErrorMessages}}
      </div>
      <!-- form -->
      </div>
        <form [formGroup]="adminLoginForm" class="form-inline">
          <div class="input">
            <br>
            <label for="userName">Admin Email</label>
            <input style="text-align: center;" formControlName="email" type="text" class="form-control all1" id="userName" aria-describedby="userHelp" placeholder="Enter Admin email">
            <small id="userHelp" class="form-text text-muted"></small>
            <br />
            <label for="userName">Password</label>
            <input style="text-align: center;" formControlName="password" type="password" class="form-control all1" id="password" aria-describedby="passHelp" placeholder="Enter password">
            <small id="passHelp" class="form-text text-muted"></small>
            <br />
          </div>   
          <br />
          <input click type="submit" (click)="adminLogin()" value="Login"  class="submit" />
       </form>
  </div>
     
   
   
   