<div class="caption1">
    <h2>All Notifications</h2>
</div>

<table class="table table-bordered border-primary table-info">
    <thead class="table-dark">
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Details</th>
        <th scope="col">Actioins</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications; let i=index">
        <td>{{i+1}}</td>
        <td>{{notification.message}}</td>
        <td>
            <button class="remove-btn" (click)="confirm(notification)">Confirm Delivery</button>
            <button class="remove-btn" (click)="cancel(notification)">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
